html{
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #3BA175;
    color: white;
}
.main{
    margin: 0px 110px 0px;
}

.hero_img{
    float: right;
}

.hero_section{
    position: absolute;
}

.hero_section h1{
    font-size: 60pt;
    font-weight: 900;
    padding: 0px 240px 0px 0px;
}

.hero_section h2{
    font-size: 30pt;
    font-weight: 400;
}

.hero_section p{
    margin-right: 780px;
    font-weight: 400;
}

.contact{
    width: 354px;
}

.wrapper{
    width: 400px;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 40px;
    background: transparent;
}

.wrapper input{
    width: 800px;
    height: 40px;
    float: left;
    border: 0;
    padding-left: 20px;
    padding: 10px 5px;
    border-radius: 5px;
    border-style: none;
}

.wrapper input::-moz-placeholder{
    color: #fff;
    font-family: 'roboto';
}

.wrapper input::-webkit-input-placeholder{
    color: #fff;
    font-family: 'roboto';
}
button{
    width: 100%;
    padding: 15px 15px;
    border-radius: 5px;
    background: #91FFCF;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
.contact h3{
    margin-top: 1px;
    font-size: 10pt;
    font-weight: 200;
    display: inherit;
}

